<div id="<%= dom_id question %>" class="p-5 border rounded-lg">
  <%= form_with model: [@question_group, question] do |form| %>
    <%= form.label question.label, class: 'block mb-2 font-bold' %>
    <%= render "questions/inputs/#{question.kind}", question: question, form: form %>
  <% end  %>
</div>
