<%= turbo_frame_tag @question_group do %>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% content_for :title, "Questions" %>
    <h2 class="font-bold text-2xl">Questions</h2>
    <div id="<%= dom_id(@question_group, :questions) %>" class="space-y-5">
      <% if @questions.any? %>
        <% @questions.each do |question| %>
          <%= render question %>
        <% end %>
      <% else %>
        <p class="text-gray-500">No questions yet.</p>
      <% end %>
    </div>
  </div>
<% end %>
