<div class="grid grid-flow-col">
  <%= values = JSON.parse(question.value).compact_blank %>
  <%= form.collection_checkboxes :value, question.choices, lambda {|o| o.first }, :last do |c| %>
    <div>
      <%= c.check_box %>
      <%= c.label %>
    </div>
  <% end %>

</div>