<div class="grid grid-flow-col">

  <% #yolo %>
  <% values = eval(question.value)&.values || [] %>

  <% question.choices.each_with_index do |choice, i| %>
    <% id = %(question-#{question.id}-#{i}) %>
    <% field_name = form.field_name(:value, choice[0]) %>
    <label for="<%= id %>" class="flex gap-1 items-center">
      <%= checkbox_tag field_name, choice.first, values.include?(choice.first)  %>
      <span><%= choice[0].capitalize %></span>
    </label>
  <% end %>
</div>